html{
  background: linear-gradient(45deg, rgba(251,166,225,1) 0%, rgba(251,166,225,1) 32%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 62%, rgba(104,171,237,1) 96%, rgba(104,171,237,1) 100%);
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button{
  cursor: pointer;
}
